.left_pole {
    width: 300px;
    height: 100vh;
    background-color: #505050;
    float: left;
    margin: -8px;
}

.right_pole {
    width: 300px;
    height: 100vh;
    background-color: #505050;
    float: right;
    margin: -8px;
}

.headed {
    background-color: gray;
    margin: -8px;
}

body {
    background-color: green;
}

.W_hr{
    width:1px;
    height: 100%;
    background-color: gold;
}

.r_W_hr{
    width:2px;
    height: 100%;
    background-color: gold;
    float:right;
}
