{% extends "base.html" %}

{% block title %}Обо мне{% endblock %}

{% block content %}
<h1>Добавление настольной игры</h1>
<p>Хэй-хэй-хэй, хочешь добавить игру? <br> Для этого тебе нужно заполнить форму</p>
<form action="/add_games" method="post">
    <label>Название игры</label>
    <input name ='title' placeholder="Цитадели" type="text"><br>
    <label>Краткое описание</label>
    <textarea name = "description" placeholder="эта игра о средневековых замках"></textarea><br>
    <label>Число игроков</label>
    <input name ="number_player" type="number"><br>
    <label>Время игры</label>
    <input name="playing_time" type="number"> <br>
    <button>Добавить</button> <br>
    <a href="/">обратно</a>
</form>
{% endblock %}