<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Мои настолки{% endblock %}</title>
    <meta charset="utf-8">
    <style>

    </style>
</head>
<body>
    <header>
        <img width="300" height="100" src="{{ url_for('static', filename='zastavka.png') }}" alt="Заставка">
        <nav>
            <a href ="/">Главная</a> |
            <a href="/about_me">Обо мне</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>