<!DOCTYPE html>
<html>
<head>
    <style>
    </style>
    <title>{% block title %}Мои настолки{% endblock %}</title>
    <meta charset="utf-8">

</head>
<body>
<div class="pole" align="right" style="background: red"> я правое поле</div>
<div class="pole" align="left" style="background: red">я правое поле</div>
<div  align="center">
    <header>

        <img width="300" height="100" src="{{ url_for('static', filename='zastavka.png') }}" alt="Заставка">
        <nav>
            <a href ="/">Главная</a> |
            <a href="/about_me">Обо мне</a>
        </nav>

        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>
</body>
</html>